<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.karat.k20viewer">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="КАРАТ" android:theme="@android:style/Theme.DeviceDefault.DayNight">
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|density" android:exported="true" android:launchMode="singleTask" android:name="ru.karat.k20viewer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <intent-filter android:label="КАРАТ">
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/>
        </activity>
    </application>
</manifest>
